/***********************/
/* Advertisement Slots */
/***********************/
.atfmrec, .btfmrec, .footer-ad #footermrec {
	height: 250px !important;
	width: 300px !important;
}

.atfmrec {
	border: none !important;
	float: right;
	margin: 15px 0 2em 1em;
}

.atflb, .btflb {
	display: block;
	height: 90px !important;
	margin: 0 auto;
	padding: 5px 0;
	width: 728px !important;
}

.atflb > iframe, .btflb > iframe {
	display: block;
	height: 90px !important;
	margin: 0 auto;
	padding: 0;
	width: 728px !important;
}

.btflb {
	clear: both;
}

.atflb > div {
	margin: 0 auto;
}

div#mobileatfmrec, div#footermrec {
	float: none;
	margin: 0 auto;
}

.mobileatfmrec {
	border-bottom: solid 1px #E2E3E4;
	padding: 8px;
	text-align: center;
}

.mobileatfmrec.noborder {
	border: 0 none;
}

.mobileatflb {
	position:fixed;
	bottom:0;
	margin:0 auto;
	width:100%;
	text-align:center;
	z-index:999999 !important;
}

.mobileInject {
	margin: 0 auto !important;
	text-align:center !important;
	padding-bottom: 10px !important;
}

.mobilebtfmrec {
	text-align: center;
}