@import  "//fonts.googleapis.com/css?family=Open+Sans+Condensed:100,300,700|Open+Sans:400italic,400,700,600";

@font-face {
	font-family: "netbar-icons";
	src: url(//hydra-media.cursecdn.com/hydra/fonts/netbar-icons.eot);
	src: url(//hydra-media.cursecdn.com/hydra/fonts/netbar-icons.eot#iefix) format("embedded-opentype"),url(//hydra-media.cursecdn.com/hydra/fonts/netbar-icons.woff) format("woff"),url(//hydra-media.cursecdn.com/hydra/fonts/netbar-icons.ttf) format("truetype"),url(//hydra-media.cursecdn.com/hydra/fonts/netbar-icons.svg) format("svg");
	font-weight: 400;
	font-style: normal;
}

html {
	min-height: 100%;
}

html body {
	height: calc(100% - 30px) !important;
	margin-top: 30px !important;
	position: relative;
}

div#netbar {
	background: #121212;
	border-bottom: 1px solid #000;
	color: #aeaeae;
	font-family: 'Open Sans', sans-serif !important;
	font-size: 12px !important;
	height: 30px;
	left: 0;
	position: absolute;
	top: -30px;
	width: 100%;
	z-index: 1001;
}

#netbar .netbar-flex {
	align-content: center;
	align-items: center;
	display: -webkit-flex;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: left;
	margin: 0;
	padding: 0;
	width: 100%;
}

#netbar .netbar-box {
	flex: 0 0 auto;
	height: 30px;
	line-height: 2.5em;
	padding: 0 .5em;
}

#netbar .netbar-box.left {
	border-right: 1px solid #353535;
}
#netbar .netbar-box.right {
	border-left: 1px solid #353535;
}

#netbar .netbar-box:hover {
	background: #222;
}
#netbar .netbar-box.live-on-twitch:hover {
	background-color: #6441A4;
}

#netbar .netbar-spacer {
	flex: 1 1 auto;
}

#netbar a {
	color: #aeaeae;
	text-decoration: none;
}

#netbar a.gold-link {
	color: #fc3;
	font-weight: 700;
}

#netbar a.gold-link:hover {
	color: #fff;
}

#netbar .netbar-box.logo {
	transition: width 500ms;
	width: 104px;
}

#netbar .netbar-box.logo a {
	background-image: linear-gradient(transparent,transparent),url(../images/netbar/logo.svg);
	background-position: center center;
	background-repeat: no-repeat;
	background: url(../images/netbar/logo-fallback.png);
	display: block;
	overflow: hidden;
	text-indent: -500px;
	transition: width 500ms;
	white-space: nowrap;
	width: 104px;
}

@media screen and (max-width: 700px) {
	#netbar .netbar-box.logo, #netbar .netbar-box.logo a {
		width: 24px;
	}
}

#netbar span.label-development {
	color: red;
	font-weight: 700;
}

#netbar span.label-hostname {
	color: #ff0;
	font-weight: 700;
}

#netbar .netbar-box.officialwiki a, #netbar .netbar-box.officialwiki img {
	display: block;
	margin-top: .6em;
	height: 15px;
	width: 75px;
}

#netbar .netbar-box.has-drop {
	cursor: pointer;
	position: relative;
}

#netbar .netbar-box.links span.cog::after {
	color: #b9b9b9;
	content: '\e602';
	display: block;
	font-family: 'netbar-icons';
	font-size: 14px;
	font-style: normal;
}

#netbar .netbar-box.has-drop ul, #netbar .netbar-box.has-drop ul li {
	list-style: none;
}

#netbar .netbar-box ul.dropdown {
	background: #121212;
	border-top: none;
	border: 1px solid #000;
	box-shadow: 0 2px 6px rgba(0,0,0,0.3);
	display: none;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 30px;
	z-index: 1002;
}

#netbar .netbar-box.left ul.dropdown {
	left: 0;
}

#netbar .netbar-box.right ul.dropdown {
	right: 0;
}

#netbar .netbar-box:hover ul.dropdown {
	display: block;
}

#netbar .netbar-box ul.dropdown li {
	box-sizing: border-box;
	line-height: initial;
	width: 100%;
}

#netbar .netbar-box ul.dropdown li:hover {
	background: #222;
}

#netbar .netbar-box ul.dropdown li a {
	display: block;
	padding: 8px 5px;
	width: intrinsic;
	width: max-content;
	width: -moz-max-content;
	width: -webkit-max-content;
}

#netbar .netbar-box.user > a {
	display: block;
	transition: width 500ms;
	white-space: nowrap;
}

@media screen and (max-width: 700px) {
	#netbar .netbar-box.user > a {
		height: 30px;
		overflow: hidden;
		width: 20px;
	}
}

#netbar .netbar-box.user .avatar {
	height: 20px;
	margin-right: 5px;
	width: 20px;
}

#netbar .netbar-box.echo li {
	line-height: 2.5em;
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
}

#netbar .mw-echo-notifications-badge:before {
	filter: invert(100%);
}

#netbar #pt-notifications-alert .mw-echo-notifications-badge, #netbar #pt-notifications-notice .mw-echo-notifications-badge {
	padding-left: 24px;
}

#netbar .netbar-box.echo li div {
	line-height: initial;
}